$light-gray: rgba(255, 255, 255, 0.5);
$lighter-gray: rgba(0, 0, 0, 0.5);
$bg-dark: #262a32;
$bg-dark-2: #252931;
$blue: #011847;
$light-green: #83bb21;
$light-green-hover: #a4e03b;
$layer-green: #35ca7e;
$layer-heart-red: #e73c68;
$main-background: #f0ecea;
$gray-color-font: #45413e;
