.product-detail {
  background-color: $main-background;
  text-align: center;
  padding: 26px 16px;

  .container {
    h1 {
      font-size: 31px;
      color: #45413e;
      span {
        display: none;
      }
    }

    .product-detailed-wrapper {
      background-color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-top: 64px;
      .product-detailed__image {
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        img {
          max-width: 100%;
          position: relative;
        }
        .button-zoom {
          position: absolute;
          top: 14px;
          left: 14px;
          cursor: pointer;
          &::before {
            margin: 0;
            font-size: 17px;
            color: $light-green;
          }
        }
      }

      .thumbnails-slider {
        padding: 25px 0;
        .thumbnails-box {
          padding: 0 2px;
          img {
            display: inline-block;
            max-width: 30.3%;
            border-radius: 3px;
            margin: 0 3px;
            opacity: 0.6;
            border: 1px solid #a2a09e;
            cursor: pointer;

            &:nth-child(4) {
              display: none;
            }
          }

          .choosed {
            border: 1px solid $light-green;
            opacity: 1;
          }

          .hide {
            display: none;
          }
          .show {
            display: inline-block;
          }
        }

        .slider-controls {
          text-align: center;

          .slider-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #929498;
            margin: 5px;

            &:active {
              &:active {
                position: relative;
                top: 3px;
                width: 16px;
                height: 16px;
                border: 3px solid $bg-dark;
                background-color: transparent;
              }
            }
          }
          .active {
            position: relative;
            top: 3px;
            border: 3px solid #000;
            width: 16px;
            height: 16px;
            background-color: transparent;

            &:active {
              position: relative;
              top: 3px;
              width: 16px;
              height: 16px;
              border: 3px solid $bg-dark;
              background-color: transparent;
            }
          }
        }
      }

      .product-detailed__info {
        text-align: left;
        padding: 30px 10px;
        h3 {
          font-size: 31px;
          color: #45413e;
        }

        .select-box {
          position: relative;
          width: 156px;
          margin-top: 28px;
          .color-choosed {
            width: 22px;
            height: 22px;
            display: inline-block;
            border-radius: 50%;
            background-color: #585d61;
            position: absolute;
            top: 22%;
            left: 10px;
          }
          select {
            max-width: 100%;
            width: 100%;
            border: none;
            background-color: #fff;
            border: 2px solid #a2a09e;
            color: #a2a09e;
            border-radius: 20px;
            padding: 8px 40px 8px 42px;
            font-size: 14px;
            outline: none;
            @include vp-appearance(none);
          }

          span {
            &::before {
              font-size: 8px;
              color: #a2a09e;
              margin: 0;
              position: absolute;
              top: 15px;
              right: 20px;
            }
          }
        }

        .product-detailed__quantity {
          width: 110px;
          position: relative;
          margin-top: 22px;

          > span {
            position: absolute;
            top: 6px;
            font-size: 20px;
            color: #999;
            cursor: pointer;
          }

          .plus {
            right: 15px;
          }
          .minus {
            left: 15px;
          }

          input {
            max-width: 100%;
            width: 100%;
            border: none;
            background-color: #fff;
            border: 2px solid #a2a09e;
            color: #a2a09e;
            border-radius: 20px;
            padding: 8px 40px 8px 42px;
            font-size: 14px;
            outline: none;
          }

          input[type='number']::-webkit-inner-spin-button,
          input[type='number']::-webkit-outer-spin-button {
            @include vp-appearance(none);
            margin: 0;
          }
        }

        .button-add-to-cart {
          color: #fff;
          border: 2px solid #e8e2d6;
          width: 157px;
          background-color: $light-green;
          padding: 12px 30px;
          border-radius: 32px;
          display: inline-block;
          margin-top: 26px;
          font-size: 14px;
          outline: none;

          &:hover {
            color: $light-green;
            border-color: $light-green;
            background-color: #fff;
          }
        }

        .product-detail__description {
          color: #45413e;
          margin-top: 32px;
          .button-read-more {
            display: inline-block;
            margin-top: 15px;
            color: $light-green;
            cursor: pointer;
          }
        }

        .social {
          margin-top: 32px;
          li {
            display: inline-block;
            color: #b2b2b2;

            &:hover {
              color: #888;
            }
          }
        }
      }
    }
  }
}

/* 
  PRODUCT INFO TABS HERE OR IN DESKTOP ?
*/
.product-info-tabs {
  max-width: 120px;
  background-color: red;
}

main {
  // .popular-items {
  //   padding-bottom: 50px;
  //   h3 {
  //     font-size: 18px;
  //     color: #45413e;

  //     &::after,
  //     &::before {
  //       background-color: #e5e2df;
  //     }
  //   }

  //   .products-slider__controls {
  //     .products-slider__dot {
  //       width: 8px;
  //       height: 8px;
  //       background-color: rgba($bg-dark, 0.5);
  //     }

  //     .active {
  //       top: 2px;
  //       width: 12px;
  //       height: 12px;
  //       border: 3px solid $bg-dark;
  //       background: rgba(38, 42, 50, 0);
  //     }
  //   }

  //   .button-scroll {
  //     color: #fff;
  //     border: 2px solid #e8e2d6;
  //     width: 160px;
  //     background-color: $light-green;
  //     padding: 12px 26px;
  //     border-radius: 32px;
  //     display: inline-block;
  //     margin-top: 26px;
  //     font-size: 14px;
  //     outline: none;

  //     &:hover {
  //       &:hover {
  //         color: $light-green;
  //         border-color: $light-green;
  //         background-color: #fff;
  //       }
  //     }
  //   }
  // }
}
