@media screen and (min-width: 1280px) {
  .header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 55px;
    border-bottom: 2px solid #ddd;

    .header__container {
      .btn-menu,
      .btn-close {
        display: none;
      }

      .logo {
        a {
          display: flex;
          align-items: center;
          .logo__image {
            margin-right: 7px;
          }

          .logo__brand-box {
            h1 {
              font-size: 32px;
              letter-spacing: 5px;
              color: $blue;
            }

            h2 {
              margin-top: -7px;
              font-size: 18px;
              color: $light-green;
              font-weight: normal;
            }
          }
        }
      }
    }

    .navbar {
      li {
        display: inline-block;

        &:hover {
          > a {
            background-color: $bg-dark-2;
            color: #fff;
            font-weight: bold;
            padding-bottom: 30px;
            border-bottom: 3px solid $light-green;
          }
          .menu {
            display: flex;
          }
        }

        > a {
          padding: 20px 15px;
          margin-right: 10px;

          span {
            margin-left: 16px;
          }
          &:hover {
            i.icon-lighter {
              &::after,
              &::before {
                color: #fff;
              }
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          span {
            display: none;
          }
        }

        &:nth-child(5),
        &:nth-child(6) {
          > a {
            padding: 20px 15px;
            margin-right: 0;
            color: $lighter-gray;
            span {
              margin-left: 16px;
            }
            &:hover {
              background-color: #ddd;
              font-weight: bold;
              padding-bottom: 30px;
              border-bottom: 3px solid #ccc;

              i.icon-lighter {
                &::after,
                &::before {
                  color: #fff;
                }
              }
            }
          }
          .dropdown {
            position: relative;
            display: none;
            .dropdown__content {
              position: absolute;
              min-width: 90px;
              text-align: center;
              z-index: 2;
              top: 20px;
              left: 50%;
              transform: translateX(-50%);
              border-radius: 2px;
              background-color: #fff;
              border: 1px solid rgba(0, 0, 0, 0.2);

              a {
                display: block;
                padding: 5px 0 0 0;
                color: rgba(0, 0, 0, 0.4);
                position: relative;

                &:hover {
                  color: rgba(0, 0, 0, 0.9);
                  background-color: #ddd;
                }

                &::after {
                  display: table;
                  content: '';
                  width: 70%;
                  height: 1px;
                  background-color: #ddd;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }

              a:nth-child(3) {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .menu {
        position: fixed;
        top: 82px;
        left: 0;
        width: 100%;
        background-color: $bg-dark;
        padding: 60px;
        display: none;

        .menu__menu-item {
          h4 {
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 30px;
          }

          span {
            display: none;
          }

          a {
            display: block;
            margin-bottom: 19px;
            color: #fff;
          }
        }

        .menu__menu-item:nth-child(1) {
          flex-grow: 2;
          margin-right: 0;
          .menu__submenu {
            display: flex;

            div {
              width: 33.3%;
              a {
                display: block;
                margin-bottom: 19px;
                color: #fff;
              }
            }
          }
        }

        img {
          display: block;
          max-width: 100%;
          border-radius: $border-radius-img;
          margin-left: 40px;
        }
      }
    }

    .action-bar {
      li {
        display: inline-block;
        margin-right: 36px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          span {
            i {
              &::after,
              &::before {
                color: #222;
              }
            }
          }
        }
        i::before {
          color: $lighter-gray;
        }

        .badge {
          border: 2px solid $light-green;
          background-color: #fff;
        }

        .modal-login {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 3;
          width: 100vw;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.7);
          display: none;
          align-items: center;
          justify-content: center;

          .modal-login__form {
            width: 500px;
            height: 440px;
            border-radius: 5px;
            padding: 40px;
            background-color: #fff;
            text-align: center;

            a {
              font-size: 13px;
            }

            h2 {
              color: #000;
              margin-bottom: 40px;
            }

            .modal-login__form-box {
              text-align: left;
              position: relative;

              label {
                font-weight: bold;
                color: #000;
                font-size: 0.875em;
              }

              input {
                display: block;
                width: 100%;
                padding: 10px;
                padding-left: 13px;
                border: none;
                font-size: 16px;
                border-radius: 24px;
                outline: none;
                border: 2px solid #ccc;
                margin: 10px 0 20px 0;
              }

              &:nth-child(4) {
                text-align: center;
              }

              span {
                float: right;
              }

              a {
                color: $light-green;
              }

              button {
                padding: 10px;
                outline: none;
                width: 200px;
                border: none;
                border-radius: 17px;
                color: #fff;
                background-color: #84bc22;
                display: block;
                margin: 30px auto 20px auto;
              }

              .modal-login__form-toggle {
                float: right;
                position: absolute;
                bottom: 7px;
                right: 18px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding: 40px 55px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
    .contact,
    .categories,
    .about {
      h4 {
        font-weight: bold;
        span {
          display: none;
        }
      }

      .wrapper {
        display: block !important;
        color: #45413e;
        p {
          margin-bottom: 24px;
        }
      }
    }

    .contact-info {
      margin-right: 60px;

      .contact {
        margin-top: 36px;

        h4 {
          margin-bottom: 16px;
        }
      }
    }

    .categories,
    .about {
      h4 {
        margin-bottom: 30px;
      }
      li {
        margin-bottom: 20px;
      }
    }

    .categories {
      width: 50%;
      .wrapper {
        display: flex !important;

        .link-box {
          width: 33.3%;
        }
      }
    }

    .social {
      li {
        display: inline-block;
        color: #b2b2b2;
      }
    }
  }

  main {
  }
}
