@media screen and (min-width: 1280px) {
  .header {
    position: fixed;
    z-index: 9;
    top: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 55px;
    border-bottom: 2px solid #ddd;

    .header__container {
      .btn-menu,
      .btn-close {
        display: none;
      }

      .logo {
        a {
          display: flex;
          align-items: center;
          .logo__image {
            margin-right: 7px;
          }

          .logo__brand-box {
            h1 {
              font-size: 32px;
              letter-spacing: 5px;
              color: $blue;
            }

            h2 {
              margin-top: -7px;
              font-size: 18px;
              color: $light-green;
              font-weight: normal;
            }
          }
        }
      }
    }

    .navbar {
      display: block;
      li {
        display: inline-block;

        &:hover {
          > a {
            background-color: $bg-dark-2;
            color: #fff;
            font-weight: bold;
            padding-bottom: 30px;
            border-bottom: 3px solid $light-green;
          }
          .menu {
            display: flex;
          }
        }

        > a {
          padding: 20px 15px;
          margin-right: 10px;

          span {
            margin-left: 16px;
          }
          &:hover {
            i.icon-lighter {
              &::after,
              &::before {
                color: #fff;
              }
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          span {
            display: none;
          }
        }

        &:nth-child(5),
        &:nth-child(6) {
          &:hover {
            > a {
              background-color: #ddd;
              color: $lighter-gray;
              padding-bottom: 30px;

              span {
                margin-left: 16px;
              }
              &:hover {
                background-color: #ddd;
                font-weight: bold;
                padding-bottom: 30px;
                border-bottom: 3px solid #bbb;

                i.icon-lighter {
                  &::after,
                  &::before {
                    color: #fff;
                  }
                }
              }
            }
          }

          > a {
            padding: 20px 15px;
            margin-right: 0;
            color: $lighter-gray;
          }
          .dropdown {
            position: relative;
            display: none;
            .dropdown__content {
              position: absolute;
              min-width: 90px;
              text-align: center;
              z-index: 2;
              top: 20px;
              left: 50%;
              transform: translateX(-50%);
              border-radius: 2px;
              background-color: #fff;
              border: 1px solid rgba(0, 0, 0, 0.2);

              a {
                display: block;
                padding: 5px 0 0 0;
                color: rgba(0, 0, 0, 0.4);
                position: relative;

                &:hover {
                  color: rgba(0, 0, 0, 0.9);
                  background-color: #ddd;
                }

                &::after {
                  display: table;
                  content: "";
                  width: 70%;
                  height: 1px;
                  background-color: #ddd;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }

              a:nth-child(3) {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .menu {
        position: fixed;
        top: 82px;
        left: 0;
        width: 100%;
        background-color: $bg-dark;
        padding: 60px;
        display: none;

        .menu__menu-item {
          h4 {
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 30px;
          }

          span {
            display: none;
          }

          a {
            display: block;
            margin-bottom: 19px;
            color: #fff;
          }
        }

        .menu__menu-item:nth-child(1) {
          flex-grow: 2;
          margin-right: 0;
          .menu__submenu {
            display: flex;

            div {
              width: 33.3%;
              a {
                display: block;
                margin-bottom: 19px;
                color: #fff;
              }
            }
          }
        }

        img {
          display: block;
          max-width: 100%;
          border-radius: $border-radius-img;
          margin-left: 40px;
        }
      }
    }

    .action-bar {
      li {
        display: inline-block;
        margin-right: 36px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          span {
            i {
              &::after,
              &::before {
                color: #222;
              }
            }
          }
        }
        i::before {
          color: $lighter-gray;
        }

        .badge {
          border: 2px solid $light-green;
          background-color: #fff;
        }

        .modal-login {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 3;
          width: 100vw;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.7);
          display: none;
          align-items: center;
          justify-content: center;

          .modal-login__form {
            width: 500px;
            height: 440px;
            border-radius: 5px;
            padding: 40px;
            background-color: #fff;
            text-align: center;

            a {
              font-size: 13px;
            }

            h2 {
              color: #000;
              margin-bottom: 40px;
            }

            .modal-login__form-box {
              text-align: left;
              position: relative;

              label {
                font-weight: bold;
                color: #000;
                font-size: 0.875em;
              }

              input {
                display: block;
                width: 100%;
                padding: 10px;
                padding-left: 13px;
                border: none;
                font-size: 16px;
                border-radius: 24px;
                outline: none;
                border: 2px solid #ccc;
                margin: 10px 0 20px 0;
              }

              &:nth-child(4) {
                text-align: center;
              }

              span {
                float: right;
              }

              a {
                color: $light-green;
              }

              button {
                padding: 10px;
                outline: none;
                width: 200px;
                border: none;
                border-radius: 17px;
                color: #fff;
                background-color: #84bc22;
                display: block;
                margin: 30px auto 20px auto;
              }

              .modal-login__form-toggle {
                float: right;
                position: absolute;
                bottom: 7px;
                right: 18px;
              }
            }
          }
        }
      }
    }
  }

  .product-tile {
    margin: 20px auto 0 auto;
    position: relative;
    max-width: 370px;
    display: block;
    &:hover {
      .overlay {
        display: flex;
      }
    }

    .product-tile__image {
      img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .product-tile__info {
      max-width: 370px;
      background-color: #fff;
      text-align: center;
      padding: 0 22px 22px 22px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: -3px auto 0 auto;

      p {
        font-size: 16px;
        line-height: 18px;
        color: #2c3e50;
        padding-top: 20px;
      }

      span {
        font-size: 14px;
        color: #bdc3c7;
        font-weight: 400;
        display: inline-block;
        padding-top: 20px;
      }

      .price-box {
        span {
          a {
            border: 2px solid #ededed;
            padding: 12px 19px;
          }

          .price {
            margin-right: -2px;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
          }
          .btn-buy {
            border: 2px solid #ededed;
            padding: 12px 19px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
          }
        }
      }
    }

    .product-tile__image--not-found {
      background-color: $bg-dark;
      padding: 40px 32px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }

    .overlay--green {
      background: linear-gradient(0deg, rgba(#1bc167, 0.8), rgba(#2dd3a1, 0.8));

      .button-box {
        display: flex;
        align-items: center;
        justify-content: center;

        .button-layer {
          width: 90px;
          height: 90px;
          text-align: center;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:nth-child(1) {
            margin-right: 30px;
          }
        }
      }
    }
  }

  .button-load-more {
    color: #fff;
    border: 2px solid #fff;
    padding: 13px 92px;
    border-radius: 32px;
    display: inline-block;
    margin-top: 49px;
    font-size: 14px;
    outline: none;
    i {
      &::before {
        font-size: 15px;
      }
    }
  }

  .button-load-more--green {
    background-color: $light-green;
    border: none;
    padding: 12px 28px;
    display: inline-block;
    margin-bottom: 30px;

    &:hover {
      background-color: #79ac21;
    }
  }

  /* COLORS */
  .color {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 0 3px;
    display: inline-block;
  }

  .color--active {
    border: 3px solid #45413e;
  }

  .color--lightblue {
    background-color: #43bfcf;
  }

  .color--lightgreen {
    background-color: #49af00;
  }

  .color--darkgray {
    background-color: #3d3f2f;
  }

  .color--blue {
    background-color: #315bbd;
  }

  .color--orange {
    background-color: #eb6115;
  }

  .color--red {
    background-color: #db031d;
  }

  .color--magnolia {
    background-color: #efe9d7;
  }

  .color--white {
    background-color: #fff;
  }

  main {
    margin-top: 82px;
    /* padding-top: 40px; */
    background-color: $main-background;

    // 404
    .container {
      width: 1200px;
      margin: 0 auto;

      .not-found-content {
        text-align: center;
        padding: 26px 15px;

        .main-header {
          font-size: 48px;
          margin-bottom: 56px;
        }

        .main-header::before,
        .main-header::after {
          display: table;
          content: "";
          width: 44%;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.1);
          position: absolute;
          top: 50%;
        }

        .warning {
          display: flex;
          background-color: #fff;
          display: flex;
          padding: 64px 100px 64px 0;
          overflow: auto;

          .warning__heading {
            flex-grow: 1;
            flex-basis: 440px;
            text-align: right;
            height: 360px;
            position: relative;
            z-index: 0;

            &::after {
              content: "";
              background: url("../images/caution-sign.png") no-repeat;
              background-size: 360px;
              position: absolute;
              top: 0;
              left: -50px;
              width: 360px;
              height: 360px;
              z-index: 0;
            }

            h1 {
              font-size: 113px;
              color: #84bc22;
              position: absolute;
              top: 100px;
              right: -128px;
              z-index: 10;
            }
          }

          .warning__message {
            text-align: left;
            padding: 0 0 0 100px;
            margin-left: 100px;

            h3 {
              font-size: 24px;
              margin-bottom: 23px;
            }

            p {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 24px;
              color: #555;
            }

            a {
              color: $light-green;
              margin-bottom: 48px;
              display: inline-block;
            }

            .warning__form-box {
              position: relative;

              input {
                display: block;
                width: 100%;
                padding: 10px;
                padding-left: 13px;
                border: none;
                font-size: 16px;
                border-radius: 24px;
                outline: none;
                border: 2px solid #ccc;
                margin: 10px 0 20px 0;
              }

              span {
                position: absolute;
                bottom: 10px;
                right: 18px;
              }
            }
          }
        }
      }
    }

    .primary-banner {
      max-width: 100%;
      background-color: #fff;
      padding: 26px 0;

      .container {
        display: flex;
      }

      .align-0 {
        text-align: left;
      }

      .align-1 {
        text-align: center;
      }

      .align-2 {
        text-align: right;
      }

      .carousel {
        background: url("../images/slide-1.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 865px;
        height: 600px;
        padding: 60px;
        border-radius: 6px;
        color: #fff;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 14px;
          margin-top: 116px;
        }

        > a {
          border: 2px solid rgba(255, 255, 255, 0.6);
          padding: 12px 32px;
          color: #fff;
          margin: 0 auto;
          border-radius: 30px;
          display: inline-block;
          margin: 62px auto 0 auto;

          &:hover {
            background-color: $light-green;
            color: #222;
          }
        }

        /* .button-view-more-box {
          max-width: 100%;
          margin: 62px auto 0 auto;
        } */

        .carousel__controls {
          text-align: center;
          margin-top: 100px;

          .carousel__controls-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            margin: 5px;

            &:active {
              &:active {
                position: relative;
                top: 3px;
                width: 18px;
                height: 18px;
                border: 3px solid $bg-dark;
                background-color: transparent;
              }
            }
          }
          .active {
            position: relative;
            top: 3px;
            border: 3px solid #fff;
            width: 18px;
            height: 18px;
            background-color: transparent;

            &:active {
              position: relative;
              top: 3px;
              width: 18px;
              height: 18px;
              border: 3px solid $bg-dark;
              background-color: transparent;
            }
          }
        }
      }

      .summer-sales-box {
        /* background-color: purple; */
        margin-left: 30px;

        .summer-sale {
          background-color: $light-green;
          height: 400px;
          border-radius: 6px;
          color: #fff;
          padding: 70px 36px;
          text-align: center;
          position: relative;
          h1 {
            font-size: 100px;
          }
          h2 {
            font-size: 24px;
            font-weight: 400;
            margin-top: 42px;
            position: relative;
            z-index: 2;
          }

          &::after {
            content: "";
            display: table;
            background: url("../images/palm-tree.png") no-repeat;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 130px;
            height: 130px;
          }
        }

        .social-box {
          text-align: center;
          color: #45413e;
          margin: 20px 0;
          padding: 40px 16px 0 16px;

          h3 {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 18px;
          }

          p {
            font-size: 13px;
            margin-bottom: 30px;
          }

          .btn-facebook {
            margin-top: 30px;

            a {
              font-size: 14px;
              color: #395b95;
              border: 2px solid #395b95;
              padding: 10px 38px 10px 23px;
              border-radius: 25px;
              display: inline-block;
              i {
                &::before {
                  font-size: 15px;
                  margin: 0;
                  margin-right: 10px;
                }
              }

              &:hover {
                background-color: #395b95;
                color: #fff;
                border: 2px solid #fff;
              }
            }
          }
        }
      }
    }

    //POPULAR ITEMS
    .popular-items {
      background-color: $bg-dark;
      text-align: center;
      padding: 55px 0;

      h3 {
        font-size: 24px;
        color: #fff;
        position: relative;
        margin-bottom: 42px;

        &::after,
        &::before {
          display: table;
          content: "";
          width: 456px;
          height: 2px;
          background-color: rgba(#fff, 0.3);
          position: absolute;
          top: 50%;
        }

        &::before {
          left: 14px;
        }

        &::after {
          right: 14px;
        }
      }
      //PRODUCT TILE
      .products-grid {
        max-width: 1280px;

        display: flex;
        flex-wrap: wrap;

        .product-tile {
          margin: 20px auto;
          position: relative;
          max-width: 270px;
          height: 325.61px;
          display: block;
          &:hover {
            .overlay {
              display: flex;
            }
          }

          .product-tile__image {
            img {
              max-width: 100%;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          .product-tile__info {
            max-width: 370px;
            height: 114px;
            background-color: #fff;
            text-align: center;
            padding: 0 22px 22px 22px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: -3px auto 0 auto;

            p {
              font-size: 16px;
              line-height: 18px;
              color: $gray-color-font;
              padding-top: 20px;
            }

            span {
              font-size: 14px;
              color: $blue;
              font-weight: 400;
              display: inline-block;
              padding-top: 20px;
            }

            .price-box {
              span {
                a {
                  border: 2px solid #ededed;
                  padding: 8px 19px;
                }

                .price {
                  margin-right: -2px;
                  border-bottom-left-radius: 25px;
                  border-top-left-radius: 25px;
                  color: #24c36c;
                }
                .btn-buy {
                  border-bottom-right-radius: 25px;
                  border-top-right-radius: 25px;
                }
              }
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
          }

          .overlay--green {
            background: linear-gradient(
              0deg,
              rgba(#1bc167, 0.8),
              rgba(#2dd3a1, 0.8)
            );

            .button-box {
              display: flex;
              align-items: center;
              justify-content: center;

              .button-layer {
                width: 90px;
                height: 90px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:nth-child(1) {
                  margin-right: 30px;
                }
              }
            }
          }
        }

        .product-tile--static {
          img {
            max-width: 100%;
            max-height: 389px;
            height: 100%;
            border-radius: 5px;
          }

          .overlay--pink {
            display: flex;
            background: linear-gradient(
              0deg,
              rgba(#675b99, 0.8),
              rgba(#dc5886, 0.8)
            );
            color: #fff;
            padding: 38px 30px;
            align-items: flex-end;

            img {
              width: 26px;
              height: 26px;
            }

            .overlay--pink__content {
              text-align: left;

              p {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .button-load-more {
        color: #fff;
        border: 2px solid #fff;
        padding: 13px 92px;
        border-radius: 32px;
        display: inline-block;
        margin-top: 49px;
        font-size: 14px;
        i {
          &::before {
            font-size: 15px;
          }
        }

        &:hover {
          background-color: $light-green;
          color: #222;
          border-color: $light-green;
        }
      }
    }

    .osf-banner {
      background: url("../images/banner-osf.png") no-repeat center center /
        cover;
      max-width: 1600px;
      min-height: 600px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      h2 {
        font-size: 48px;
        margin-bottom: 40px;
      }
      p {
        font-size: 16px;
      }
    }

    .featured-products {
      background-color: $bg-dark;
      color: #fff;
      text-align: center;
      padding: 44px 0;

      h3 {
        font-size: 36px;
      }

      p {
        font-size: 18px;
        margin: 20px;
      }

      .slider-controls {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          color: red;
          width: 30px;
          height: 30px;
          background-color: #2d343a;
          color: #fff;
          outline-color: #fff;
        }

        .btn-lt {
          position: relative;
          margin-right: 260px;
          &::after {
            display: table;
            content: "";
            width: 236px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
          }
          &::after {
            right: -240px;
          }
        }
        .btn-gt {
          position: relative;
          margin-left: 260px;
          &::after {
            display: table;
            content: "";
            width: 236px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
          }
          &::after {
            left: -240px;
          }
        }
      }

      .featured-products-slider {
        display: flex;
        flex-wrap: wrap;
        .product-tile {
          margin: 20px auto;
          position: relative;
          max-width: 270px;
          height: 325.61px;
          display: block;
          &:hover {
            .overlay {
              display: flex;
            }
          }

          .product-tile__image {
            img {
              max-width: 100%;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          .product-tile__info {
            max-width: 370px;
            height: 114px;
            background-color: #fff;
            text-align: center;
            padding: 0 22px 22px 22px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: -23px auto 0 auto;

            p {
              font-size: 16px;
              line-height: 18px;
              color: $gray-color-font;
              padding-top: 20px;
            }

            span {
              font-size: 14px;
              color: $blue;
              font-weight: 400;
              display: inline-block;
              padding: 0;
            }

            .price-box {
              span {
                a {
                  border: 2px solid #ededed;
                  padding: 8px 19px;
                }

                .price {
                  margin-right: -2px;
                  border-bottom-left-radius: 25px;
                  border-top-left-radius: 25px;
                  color: #24c36c;
                }
                .btn-buy {
                  border-bottom-right-radius: 25px;
                  border-top-right-radius: 25px;
                }
              }
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
          }

          .overlay--green {
            background: linear-gradient(
              0deg,
              rgba(#1bc167, 0.8),
              rgba(#2dd3a1, 0.8)
            );

            .button-box {
              display: flex;
              align-items: center;
              justify-content: center;

              .button-layer {
                width: 90px;
                height: 90px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:nth-child(1) {
                  margin-right: 30px;
                }
              }
            }
          }
        }

        .hide {
          display: none;
        }
        .visible {
          display: none;
        }
      }
    }

    .benefits-box {
      background-color: #45413e;
      color: #fff;
      padding: 50px;

      .container {
        display: flex;
      }

      .benefit {
        display: flex;

        .benefit__image {
          margin-right: 48px;
          padding: 0 0 0 22px;
        }

        .benefit__text {
          h4 {
            font-size: 18px;
            margin-bottom: 22px;
          }
          p {
            color: #868380;
            font-size: 14px;
          }
        }
      }

      .benefit-inverse {
        display: none;
      }
    }

    .products-slider {
      display: none;
    }

    /* CATEGORY LANDING */
    .services {
      text-align: center;
      padding: 50px 0;

      h1 {
        font-size: 48px;
        color: #45413e;
        margin-bottom: 50px;
        position: relative;

        &::after,
        &::before {
          content: "";
          display: table;
          width: 396px;
          height: 2px;
          background-color: #fff;
          position: absolute;
          top: 50%;
        }

        &::after {
          right: 0;
        }
      }

      .container {
        > p {
          margin-top: 42px;
        }
      }

      .filters-container {
        display: flex;
        width: 1280px;
        max-width: 100%;
        padding: 33px 30px;
        background-color: #fff;
        > span {
          display: none;
        }

        .filter-box {
          width: 33.3%;
          .filter {
            display: flex;
            padding: 12px 14px;
            align-items: center;
            .filter__name {
              font-size: 14px;
              color: #45413e;
            }

            .filter__select {
              position: relative;
              margin-left: 20px;
              width: 100%;
              select {
                max-width: 100%;
                width: 100%;
                border: none;
                background-color: #fff;
                border: 2px solid #a2a09e;
                color: #a2a09e;
                border-radius: 20px;
                padding: 8px 40px 8px 16px;
                font-size: 16px;
                outline: none;
                @include vp-appearance(none);
              }

              span {
                &::before {
                  font-size: 8px;
                  color: #a2a09e;
                  margin: 0;
                  position: absolute;
                  top: 15px;
                  right: 20px;
                }
              }
            }

            .filter__color {
              margin-left: 16px;
              max-width: 100%;
              width: 100%;
              text-align: center;
              .color {
                width: 18px;
                height: 18px;
                border-radius: 10px;
              }
            }
          }
        }
      }

      .products-tile-wrapper {
        display: none;
      }

      .product-tile-grid {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        padding: 32px 0;
        justify-content: center;
        align-items: center;

        .product-tile {
          position: relative;
          max-width: 270px;
          height: 325.61px;
          display: block;
          &:hover {
            .overlay {
              display: flex;
            }
          }

          .product-tile__image {
            img {
              max-width: 100%;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          .product-tile__info {
            max-width: 370px;
            height: 114px;
            background-color: #fff;
            text-align: center;
            padding: 0 22px 22px 22px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: -3px auto 0 auto;

            p {
              font-size: 16px;
              line-height: 18px;
              color: $gray-color-font;
              padding-top: 20px;
            }

            span {
              font-size: 14px;
              color: $blue;
              font-weight: 400;
              display: inline-block;
              padding-top: 20px;
            }

            .price-box {
              span {
                a {
                  border: 2px solid #ededed;
                  padding: 8px 19px;
                }

                .price {
                  margin-right: -2px;
                  border-bottom-left-radius: 25px;
                  border-top-left-radius: 25px;
                  color: #24c36c;
                }
                .btn-buy {
                  border-bottom-right-radius: 25px;
                  border-top-right-radius: 25px;
                }
              }
            }
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
          }

          .overlay--green {
            background: linear-gradient(
              0deg,
              rgba(#1bc167, 0.8),
              rgba(#2dd3a1, 0.8)
            );

            .button-box {
              display: flex;
              align-items: center;
              justify-content: center;

              .button-layer {
                width: 90px;
                height: 90px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:nth-child(1) {
                  margin-right: 30px;
                }
              }
            }
          }
        }

        .product-tile__image--not-found {
          background-color: $bg-dark;
          padding: 24px 32px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
  }

  footer {
    padding: 40px 55px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
    .contact,
    .categories,
    .about {
      h4 {
        font-weight: bold;
        span {
          display: none;
        }
      }

      .wrapper {
        display: block !important;
        color: #45413e;
        p {
          margin-bottom: 24px;
        }
      }
    }

    .contact-info {
      margin-right: 60px;

      .contact {
        margin-top: 36px;

        h4 {
          margin-bottom: 16px;
        }
      }
    }

    .categories,
    .about {
      h4 {
        margin-bottom: 30px;
      }
      li {
        margin-bottom: 20px;
      }
    }

    .categories {
      width: 50%;
      .wrapper {
        display: flex !important;

        .link-box {
          width: 33.3%;
        }
      }
    }

    .social {
      li {
        display: inline-block;
        color: #b2b2b2;

        &:hover {
          color: #888;
        }
      }
    }
  }
}
