* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  list-style: none;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  background-color: #fff;
  width: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
}

.logo__link {
  display: flex;
  padding-top: 3px;
}
.logo__brand {
  margin-left: 10px;
}
.logo__brand-first {
  font-weight: bold;
  color: #021848;
  margin-bottom: 1px;
}
.logo__brand-second {
  font-weight: lighter;
  color: #9fcb51;
  font-size: 16px;
  margin-top: -5px;
}

.menu__first-level-item > a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.menu__first-level-item {
  display: inline-block;
  padding: 12px 12px 30px 10px;
  position: relative;
  border-bottom: 3px solid transparent;
}

.menu__second-level {
  width: 1980px;
  color: #fff;
}
.menu__second-level a {
  color: #fff;
}

.menu__second-level-label {
  font-weight: bold;
}

.actions-bar__item {
  display: inline-block;
}
.menu__first-level-label {
  font-size: 14px;
  padding: 12px 5px;
}
.menu__first-level-item:nth-child(1) .menu__first-level-label {
  padding-right: 25px;
}

.menu__first-level-item:nth-child(1):hover {
  background-color: #262a32;
  border-bottom: 3px solid #84bc22;
}

.menu__first-level-item:nth-child(1):hover a {
  color: #fff;
  font-weight: lighter;
}

.menu__first-level-item:nth-child(1):hover .menu__first-level-arrow-down {
  border-top: 7px solid rgba(255, 255, 255, 0.7);
}

.menu__first-level-arrow-down {
  position: absolute;
  top: 20px;
  right: 9px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
}
.menu__first-level-item:nth-child(2) .menu__first-level-arrow-down,
.menu__first-level-item:nth-child(3) .menu__first-level-arrow-down,
.menu__first-level-item:nth-child(4) .menu__first-level-arrow-down {
  color: rgba(0, 0, 0, 0.1);
  display: none;
}

.menu__first-level-item .menu__first-level-label {
  color: rgba(0, 0, 0, 0.6);
}

.menu__first-level-item:nth-child(5) .menu__first-level-label,
.menu__first-level-item:nth-child(6) .menu__first-level-label {
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.2);
}

.menu__first-level-item:hover .menu__first-level-label {
  color: rgba(0, 0, 0, 0.4);
}

.actions-bar__item:hover i {
  color: rgba(0, 0, 0, 0.2);
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: none;
}
.dropdown-content {
  position: absolute;
  min-width: 80px;
  text-align: center;
  z-index: 2;
  top: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 4px 0 2px 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  position: relative;
}

.dropdown-content a:hover {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ddd;
}

.dropdown-content a::after {
  display: table;
  content: "";
  width: 70%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a:nth-child(3)::after {
  display: none;
}

/* .menu__first-level-item:hover .dropdown-content {
  display: block;
} */

.dropdown-menu a {
  color: #ccc;
}

.actions-bar {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 30px;
}

.actions-bar__item {
  position: relative;
}
.actions-bar ul li .badge {
  position: absolute;
  top: -10px;
  left: 32px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #84bc22;
  color: #84bc22;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  padding-top: 5%;
}
.menu__second-level {
  display: flex;
}
.mega-menu {
  position: fixed;
  left: 0;
  /* altrei  */
  z-index: 2;
  top: 79px;
  height: 400px;
  justify-content: space-between;
  max-width: 100%;
  padding: 50px;
  background-color: #262a32;
  display: none;
}
.menu__second-level-item:nth-child(1) {
  width: 75%;
}

.menu__second-level-item:nth-child(2) .col {
  width: 100%;
}

.menu__second-level-label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__third-level {
  display: flex;
  justify-content: space-around;
}

.menu__third-level > .col {
  margin-right: 100px;
  width: 33.3%;
}
.menu__third-level-item {
  margin-top: 10px;
}

.menu__third-level-link {
  font-weight: 200;
  font-size: 14px;
}

.menu__first-level-item:hover .mega-menu {
  display: flex;
}

.actions-bar__item i::before {
  font-size: 25px;
}

/* LOGIN MODAL */
.modal-login {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-login__form {
  width: 500px;
  height: 470px;
  border-radius: 5px;
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.modal-login__form a {
  font-size: 13px;
}

.modal-login__form h2 {
  color: #000;
  margin-bottom: 40px;
}

.modal-login__form-box {
  text-align: left;
  position: relative;
}

.modal-login__form-box:nth-child(4) {
  text-align: center;
}

.modal-login__form-box:nth-child(4) a {
  display: block;
}

.modal-login__form-box span {
  float: right;
}

.modal-login__form-toggle {
  float: right;
  position: absolute;
  bottom: 7px;
  right: 18px;
}
.modal-login__form-box label {
  font-weight: bold;
  color: #000;
  font-size: 0.875em;
}

.modal-login__form-box input {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 13px;
  border: none;
  font-size: 16px;
  border-radius: 24px;
  outline: none;
  border: 2px solid #ccc;
  margin: 10px 0 20px 0;
}

.modal-login__form-box a {
  color: #9fcb51;
}

.modal-login__form-box button {
  padding: 10px;
  outline: none;
  width: 200px;
  border: none;
  border-radius: 17px;
  color: #fff;
  background-color: #84bc22;
  margin: 30px 0 20px 0;
}

/* dropdown menu */
/* dropdown break the layout, creating a sidebar */
/* .dropdown-menu {
  display: flex;
  position: absolute;
  left: 21px;
  display: block;
  width: 60px;
  text-align: center;
  border: 3px solid red;
} */

/* .menu__first-level-item:nth-child(5):hover .dropdown-menu,
.menu__first-level-item:nth-child(6):hover .dropdown-menu {
  display: block;
} */

/* 404 PAGE */
.page-content {
  background-color: #f0ecea;
  text-align: center;
  z-index: 1;
  margin-top: 84px;
}

.page-content .container {
  padding: 40px 0;
}

.breadcrumb {
  margin: 28px 0;
}

.breadcrumb__separator {
  margin: 0 14px;
}

.breadcrumb__active {
  color: #84bc22;
}

.main-header {
  font-size: 3rem;
  margin-bottom: 56px;
  position: relative;
}

.main-header::before,
.main-header::after {
  display: table;
  content: "";
  width: 44%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
}

.main-header::after {
  right: 0;
}

.main-content {
  background-color: #fff;
  display: flex;
  padding: 64px 0;
  overflow: auto;
}

.main-content__warning {
  flex-grow: 1;
  flex-basis: 440px;
  text-align: right;
  height: 360px;
  position: relative;
  z-index: 0;
}

.main-content__warning h1 {
  font-size: 7.0625em;
  color: #84bc22;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 10;
}

.main-content__warning::after {
  content: "";
  background: url("../img/caution-sign.png") no-repeat;
  background-size: 360px;
  position: absolute;
  top: 0;
  left: -50px;
  width: 360px;
  height: 360px;
  z-index: 0;
}

.main-content__info {
  text-align: left;
  padding: 0 120px 0 60px;
}

.main-content__info h3 {
  font-size: 24px;
  margin-bottom: 23px;
}

.main-content__info h3:nth-child(1) {
  margin-bottom: 28px;
}

.main-content__info p {
  font-size: 16px;
  color: #555;
  line-height: 24px;
  margin-bottom: 23px;
}

.main-content__info a {
  margin: 48px 0;
  color: #84bc22;
  display: inline-block;
}

.main-content__info-form input {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 13px;
  border: none;
  font-size: 16px;
  border-radius: 24px;
  outline: none;
  border: 2px solid #ccc;
  margin: 10px 0 20px 0;
}

.main-content__info-form {
  position: relative;
}
.main-content__info-form-icon {
  position: absolute;
  bottom: 10px;
  right: 18px;
}

/* FOOTER */
footer .container {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}

/* This class's name will be changed to contact-box following BEM pattern */

.contact-info p {
  margin-bottom: 36px;
}

.contact-info a {
  color: #222;
}

.contact-info h4 {
  margin-bottom: 16px;
}

.contact-wrapper p {
  margin-bottom: 24px;
}

.links-wrapper {
  display: flex;
  align-items: flex-start;
}

.links-wrapper__col {
  width: 180px;
}

.categories h4,
.about h4 {
  margin-bottom: 30px;
}

.links-wrapper a {
  display: inline-block;
  margin-bottom: 20px;
}

.social {
  display: flex;
}

.categories a,
.about a,
.social a {
  color: rgba(0, 0, 0, 0.5);
}
